@import './variable.scss';
.main {
  width: 100%;
  overflow: hidden;
  section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 60px calc(50% - 850px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // clip-path: polygon(0 0, 0 50%, 100%, 100%, 100%);
    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      img {
        width: 100%;
        height: 100%;
        opacity: 0.6;
      }
      &::after {
        content: '';
      }
    }
    &.darkCover::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      background-color: #000000;
      opacity: 0.95;
    }
    h1 {
      transform: translate(0);
      text-align: center;
      font-size: 3vw;
      span {
        color: $primary;
      }
    }
  }

  .header {
    h1 {
      position: relative;
      font-size: 4vw;
      width: 100%;
      margin: 0;
      overflow: hidden;
      .box {
        position: absolute;
        bottom: 0.8vw;
        width: 0;
        height: 0.5vw;
        background-color: $primary;
        z-index: 0;
      }
      .hi {
        display: inline-block;
        margin-right: 2vw;
      }
      .text,
      .cursor {
        color: $primary;
      }
    }
    div {
      display: flex;
      flex-wrap: wrap;
      width: 60%;
      h2 {
        margin: 20px auto;
        color: #555;
        font-size: 1vw;
        text-align: start;
      }
      img {
        border-radius: 5px;
        overflow: hidden;
        border: #cccccc 1px solid;
        width: 12vw;
      }
    }
    h4 {
      &:first-child {
        margin-bottom: auto;
      }
      &:last-child {
        margin-top: auto;
      }
      text-transform: uppercase;
      font-size: 1vw;
    }
  }

  .work {
    background-color: #9cde9f;
    .workList {
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;
      z-index: 1;
      justify-content: center;
    }
  }

  .writing {
    background-color: #7ec4cf;
    .writingList {
      position: relative;
      width: 90%;
      padding: 5px;
      &::before,
      &::after {
        position: absolute;
        opacity: 0;
        content: '';
        top: 0;
        width: 50px;
        height: 100%;
        background: linear-gradient(90deg, rgba($primary, 0.5), rgba($primary, 0));
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: 2;
        transition: opacity 0.2s;
      }
      &::after {
        right: 0;
        background: linear-gradient(-90deg, rgba($primary, 0.5), rgba($primary, 0));
      }
      &:hover::before,
      &:hover::after {
        opacity: 1;
      }
      &:hover .list::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 10px 10px $primary;
      }
      .list {
        display: flex;
        overflow: auto;
        border-radius: 5px;
        &::-webkit-scrollbar {
          width: 10px;
          height: 10px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
          display: none;
          background-color: transparent;
          box-shadow: inset 0 0 10px 10px transparent;
          border: solid 3px transparent;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
          /* background: #333;  */
          border-radius: 10px;
          box-shadow: inset 0 0 10px 10px transparent;
          border: solid 3px transparent;
          transition: box-shadow 0.2s;
        }
      }
    }
  }

  .contact {
    background-color: #ce8d66;
    .contactRow {
      z-index: 1;
      display: flex;
      width: 100%;
      margin-top: 0.5vw;
      .contactCard {
        width: 800px;
        h1 {
          font-size: 2vw;
        }
      }
      .contactInfo {
        flex: 1;
        margin-left: 5vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .mediaList {
          display: flex;
          width: 200px;
          justify-content: space-evenly;
          z-index: 1;
          color: $secondary;
          .media {
            cursor: pointer;
          }
        }
        p {
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: $xl) {
  .main section {
    padding: 50px calc(50% - 620px);
  }
  .main .writing .writingList {
    width: 100%;
  }
}

@media (max-width: 1264px) {
  .main section {
    padding: 50px 10%;
  }
}

@media (max-width: 800px) {
  .main section {
    padding: 50px 5%;
  }
  .main .header {
    div {
      width: 80%;
      h2 {
        width: 100%;
        margin: 0;
        font-size: 3vw;
      }
      img {
        width: 50vw;
        height: 60vw;
        margin-top: 20px;
        object-fit: contain;
      }
    }
    h4 {
      font-size: 3vw;
    }
  }
  .main .writing .writingList {
    grid-template-columns: 1fr;
  }
  .main .contact .contactRow {
    flex-wrap: wrap;
    .contactCard {
      h1 {
        font-size: 22px;
      }
      width: 100%;
    }
    .contactInfo {
      width: 100%;
      margin-top: 10vh;
      margin-left: 0;
    }
  }
}

@media (max-width: 600px) {
  .main section {
    padding: 50px 20px;
  }
}
