@import './variable.scss';

.writingCard {
  height: 0;
  width: 40vw;
  flex-shrink: 0;
  padding-top: 20%;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin-right: 1vw;
  &::after {
    position: absolute;
    content: 'Click to read';
    bottom: 15px;
    right: 20px;
    color: $primary;
    font-weight: 400;
    font-size: 14px;
    transition: all 0.2s;
  }
  &::before {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($primary, 0.6);
  }
  .wrapper {
    position: absolute;
    // width: calc(100% - 2vw);
    // height: calc(80% - 2vw);
    top: 0;
    left: 0;
    margin: 1vw;
    overflow: hidden;
  }
  .title {
    font-size: 1vw;
    font-weight: bolder;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .tags {
    font-size: 16px;
  }
  .tag {
    color: white;
    margin-right: 5px;
    padding: 2.5px 5px;
    background-color: $primary;
    border-radius: 5px;
    font-size: 1vw;
  }
  .content {
    font-size: 0.8vw;
    margin-top: 0.5vw;
    color: #aaaaaa;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  &:hover {
    &::after {
      font-weight: bold;
      font-size: 16px;
    }
  }
}

@media (max-width: 1264px) {
  .writingCard {
    padding-top: 50%;
  }
}

@media (max-width: 800px) {
  .writingCard {
    padding-top: 150px;
  }
}

@media (max-width: 600px) {
  .writingCard .content {
    -webkit-line-clamp: 2; /* number of lines to show */
  }
}
