@import './variable.scss';

.workCard {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 12.5px;
    cursor: pointer;
    padding: 1vw;
    color: black;
    box-shadow: 0 0 1px #000000;
    transition: transform 0.2s, box-shadow 0.2s;
    h2 {
        margin: 0.2vw 0;
    }
    h4 {
        text-align: center;
        color: #7a7b7c;
        margin: 0.3vw 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
    &:hover {
        box-shadow: 0 0 7px #00000070;
        transform: scale(1.1);
        &::after {
            font-weight: bold;
        }
    }
    &::after {
        position: absolute;
        content: 'Click to go';
        color: $primary;
        bottom: 20px;
        right: 20px;
        transition: font-weight 0.2s;
    }
}

@media (max-width: 800px) {
    .workCard {
        width: 40vw;
        height: 40vw;
    }
}